.loginBtn {
    margin: .2em;
    padding: 0 15px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: .2em;
    font-size: 16px;
    color: #fff;
    outline: none;
    display: inline-flex;
    align-items: center;
    grid-gap: 1rem
}

.loginBtn svg {
    fill: var(--white)
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, .1)
}

.loginBtn--facebook {
    background-color: #4c69ba;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354c8c
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5b7bd5;
    background-image: linear-gradient(#5B7BD5, #4864B1)
}

.loginBtn--google {
    background: #dd4b39
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #e74b37
}

section {
    width: 100%;
    padding: 2.5rem 0
}

h2.title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem
}

.sub-title {
    font-size: .75rem;
    text-align: center;
    display: block;
    font-weight: 600;
    margin-bottom: .25rem
}

.btn,
.btn-outline {
    max-height: 42px
}

header {
    background: var(--blue) url(../../img_new/Background.webp) no-repeat center;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 0
}

header .header__wrapper {
    display: flex;
    grid-gap: 2rem;
    align-items: center;
    flex-wrap: wrap-reverse
}

header .header__text {
    flex-grow: 2;
    flex-basis: calc(576px/2);
    margin-bottom: 2rem
}

header .header__text p {
    display: none
}

header h5 {
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 500;
    padding-bottom: .5rem;
    position: relative;
    display: inline-block;
    margin-bottom: 1rem
}

header h5::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: rgba(255, 255, 255, .3)
}

header h1 {
    font-size: 3.25rem;
    font-weight: 500;
    color: var(--white);
    max-width: 991px;
    margin: 0 auto
}

header .form {
    flex-grow: 1;
    flex-basis: calc(576px/2);
    width: 100%;
    margin-bottom: 1rem;
    background: var(--white);
    border-radius: 10px;
    padding: 1rem
}

header .form .indicator {
    display: flex
}

header .indicator span {
    flex-grow: 1;
    text-align: center;
    padding: 0 0 .5rem;
    color: var(--blue);
    cursor: pointer;
    border-bottom: 2px solid transparent
}

header .indicator span.active {
    border-bottom: 2px solid var(--blue)
}

header .form-wrapper {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding-top: 2rem
}

header .form-wrapper form.active {
    display: grid
}

header .form-wrapper form {
    flex-direction: column;
    gap: 1rem;
    display: none;
    grid-auto-flow: row
}

header .form-group {
    flex: 1 1 0;
    width: 100%;
    position: relative
}

header .form-group.active {
    z-index: 10
}

header .form-group select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%
}

header .form-group .icon.right {
    left: unset;
    right: .75rem;
    cursor: pointer
}

header .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    width: 1rem
}

header .form__autocomplete {
    position: absolute;
    top: 100%;
    background: var(--white);
    width: 100%;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    z-index: 700;
    max-height: 20rem;
    border-radius: 0 0 1.5rem 1.5rem;
    overflow-y: auto;
    border: 1px solid var(--deepgray)
}

header .form__autocomplete li {
    padding: .5rem 1rem;
    cursor: pointer;
    display: flex;
    grid-gap: .75rem;
    align-items: center;
    width: 100%
}

header .form__autocomplete li span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

header input {
    transition: border-radius .1s
}

header input:focus {
    border-radius: 2rem 2rem 0 0
}

header input:focus+.form__autocomplete {
    opacity: 1;
    visibility: visible
}

header .form__autocomplete li:hover,
header .form__autocomplete li.focus {
    background: var(--grey)
}

header .form-group .back-btn,
header .form-group .close-btn {
    display: none;
    width: 1.125rem
}

#search-recommend {
    background: var(--white-d-1);
    display: none;
    width: 100%;
    padding: 2.5rem 0;
    text-align: center
}

.search-recommend-item {
    border: 1px solid var(--blue);
    border-radius: 2rem;
    background: var(--white);
    padding: 0 .5rem
}

.search-recommend-item-delete {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    color: var(--white)
}

#search-recommend .title-search {
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--dark)
}

#search-recommend .search-wrapper {
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 1000px;
    transition: max-height 1s
}

#search-recommend .search-wrapper.hide {
    max-height: 5.625rem;
    overflow: hidden
}

#search-recommend .expand {
    display: none
}

.viewed-business-box {
    display: flex;
    align-items: center;
    grid-gap: 1.25rem
}

.viewed-business-wrapper {
    display: grid;
    grid-auto-columns: calc((100% - (1.25rem * 3))/4);
    grid-auto-flow: column;
    grid-gap: 1.25rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory
}

.viewed-business-wrapper::-webkit-scrollbar {
    display: none
}

.viewed-business-item {
    position: relative;
    scroll-snap-align: start
}

.viewed-business-item-remove {
    position: absolute;
    top: .5rem;
    right: .5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: var(--red);
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.viewed-business-item-image {
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: contain;
    border-radius: .5rem
}

.viewed-business-item-link-title {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: .5rem;
    display: block;
    position: relative
}

.viewed-business-item-link-title:hover {
    color: var(--blue)
}

.viewed-business-item-location {
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    color: var(--green)
}

.viewed-business-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: var(--white);
    cursor: pointer;
    border: 1px solid var(--deepgray)
}

.recommended-business-box {
    display: flex;
    align-items: center;
    grid-gap: 1.25rem
}

.recommended-business-wrapper {
    display: grid;
    grid-auto-columns: calc((100% - (1.25rem * 3))/4);
    grid-auto-flow: column;
    grid-gap: 1.25rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory
}

.recommended-business-wrapper::-webkit-scrollbar {
    display: none
}

.recommended-business-item {
    position: relative;
    scroll-snap-align: start
}

.recommended-business-item-remove {
    position: absolute;
    top: .5rem;
    right: .5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: var(--red);
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.recommended-business-item-image {
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem
}

.recommended-business-item-link-title {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: .5rem;
    display: block;
    position: relative
}

.recommended-business-item-link-title:hover {
    color: var(--blue)
}

.recommended-business-item-location {
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    color: var(--green)
}

.recommended-business-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: var(--white);
    cursor: pointer;
    border: 1px solid var(--deepgray)
}

#featured-brokers .featured-brokers__wrapper {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1rem 0
}

#featured-brokers .featured-brokers__wrapper a {
    display: block;
    width: 100%;
    aspect-ratio: 18/5
}

#featured-brokers .featured-brokers__wrapper img {
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 18/5
}

#featured-brokers .featured-brokers__item {
    padding: 1.25rem 3.5rem;
    background: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

#featured-brokers .featured-brokers__indicator {
    display: none;
    grid-gap: .25rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem
}

#featured-brokers .featured-brokers__indicator span {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    border: 1px solid var(--blue)
}

#featured-brokers .featured-brokers__indicator span.active {
    background: var(--blue)
}

#featured-business .featured-business__wrapper {
    padding-top: 1rem
}

#featured-business .featured-business__list {
    display: grid;
    grid-gap: 1.25rem;
    overflow-x: auto;
    scrollbar-width: none;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.25rem * 3))/4)
}

#featured-business .featured-business__list::-webkit-scrollbar {
    display: none
}

#featured-business .featured-business__item-head {
    position: relative;
    margin-bottom: 1rem;
    overflow-x: hidden;
    border-radius: 10px
}

#featured-business .featured-business__item-head .price {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background: var(--white);
    font-size: .875rem;
    font-weight: 600
}

#featured-business .featured-business__item-head-images {
    display: flex;
    position: relative;
    transition: all .3s ease;
    left: 0
}

#featured-business .featured-business__item-head-images img {
    min-width: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover
}

#featured-business .featured-business__item-head-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: var(--blue);
    width: 1.5rem;
    height: 1.5rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 10
}

#featured-business .featured-business__item-head-arrow.disabled {
    pointer-events: none;
    opacity: .5;
    cursor: default
}

#featured-business .featured-business__item-head-arrow.prev {
    left: .5rem
}

#featured-business .featured-business__item-head-arrow.next {
    right: .5rem
}

#featured-business .featured-business__item-main .icon {
    width: 1rem;
    height: 1rem
}

#featured-business .link-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--grey-d-1);
    margin-bottom: .5rem;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative
}

#featured-business .link-title::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5rem;
    background: linear-gradient(90deg, transparent, var(--white) 40%)
}

#featured-business .link-title:hover {
    color: var(--blue)
}

#featured-business .description {
    font-size: .875rem;
    color: var(--grey-d-1);
    margin-bottom: 1rem
}

#featured-business .featured-business__item-main-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between
}

#featured-business .featured-business__item-main-bottom span {
    display: flex;
    align-items: center;
    font-size: .875rem;
    color: var(--green);
    grid-gap: .25rem
}

#franchise {
    text-align: center;
    background: var(--white-d-1)
}

#franchise .franchise__slider-wrapper {
    border-radius: 10px;
    margin: 0 auto 2rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .05);
    padding: 1.25rem 4rem;
    overflow-x: auto;
    position: relative;
    background: var(--white)
}

#franchise .franchise__title {
    display: flex;
    justify-content: center;
    grid-gap: 1rem;
    align-items: flex-start
}

#franchise .control {
    display: none;
    align-items: center;
    grid-gap: .5rem
}

#franchise .control .arrow {
    fill: var(--white);
    padding: .25rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center
}

#franchise .franchise__slider-wrapper .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    cursor: pointer;
    fill: var(--grey-d-1);
    transition: opacity .3s ease;
    opacity: 1;
    visibility: visible
}

#franchise .franchise__slider-wrapper .arrow.hide,
#franchise .control .arrow.hide {
    opacity: 0;
    visibility: hidden
}

#franchise .franchise__slider-wrapper .arrow.prev {
    left: 1rem
}

#franchise .franchise__slider-wrapper .arrow.next {
    right: 1rem
}

#franchise .franchise__slider-list {
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth
}

#franchise .franchise__slider-list::-webkit-scrollbar {
    display: none
}

#franchise .franchise__slider-item {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    min-width: 100%;
    scroll-snap-align: start;
    flex-wrap: wrap
}

#franchise .franchise__slider-item-img {
    width: 260px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    object-fit: cover;
    flex: 1 1 0;
    padding: 2rem;
    border: 1px solid var(--grey)
}

#franchise .franchise__slider-item-content {
    text-align: center;
    flex: 1 1 266px
}

#franchise .franchise__slider-item-content .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--dark)
}

#franchise .franchise__slider-item-content p {
    margin-bottom: 1rem;
    color: var(--grey-d-1)
}

#franchise .franchise__slider-item-content p span {
    color: var(--dark);
    font-weight: 500
}

#franchise .franchise__slider-item-content .link {
    display: inline-flex;
    grid-gap: .5rem;
    align-items: center;
    font-weight: 500;
    color: var(--dark);
    border-radius: 2rem
}

#franchise .franchise__slider-item-content .link svg {
    width: 1rem
}

#popular-sector .popular-sector__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    overflow-x: auto
}

#popular-sector .popular-sector__indicator span {
    padding: .5rem 1.5rem;
    font-size: .875rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--grey-d-1);
    border-bottom: 3px solid transparent
}

#popular-sector .popular-sector__indicator span:hover {
    color: var(--blue)
}

#popular-sector .popular-sector__indicator span.active {
    color: var(--blue);
    border-bottom-color: var(--blue)
}

#popular-sector .popular-sector__image-wrapper {
    padding: 1rem 0 2rem
}

#popular-sector .popular-sector__image-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
    display: none
}

#popular-sector .popular-sector__image-list.active {
    display: grid
}

#popular-sector .popular-sector__image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%
}

#popular-sector .popular-sector__image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: #225facc4;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500
}

#popular-sector img.popular-sector__image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease
}

#popular-sector img.popular-sector__image-item:hover {
    transform: scale(1.2)
}

#popular-sector .popular-sector__image-list:first-child .popular-sector__image:nth-child(1) {
    grid-area: 1/1/span 2/span 1;
    aspect-ratio: 9/16
}

#popular-sector .popular-sector__image-list:first-child .popular-sector__image:nth-child(4) {
    grid-area: 1/3/span 2/span 1;
    aspect-ratio: 9/16
}

#popular-sector .popular-sector__image-item a {
    color: var(--dark)
}

#popular-sector .popular-sector__image-item-title {
    font-size: 1rem;
    font-weight: 500
}

#popular-sector a:hover .popular-sector__image-item-title {
    color: var(--blue)
}

#popular-sector .popular-sector__bottom {
    text-align: center
}

#sale-marketplace {
    background: url(../../img_new/sale_marketplace_bg.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 3.5rem 0
}

#sale-marketplace h2.title {
    color: var(--white)
}

#sale-marketplace .sub-title {
    color: var(--white)
}

#sale-marketplace .sale-marketplace__list {
    display: flex;
    grid-gap: 1.25rem;
    grid-row-gap: 2rem;
    align-items: center;
    flex-wrap: wrap
}

#sale-marketplace .sale-marketplace__item {
    flex: 1 1 280px;
    display: flex;
    grid-gap: .75rem;
    align-items: center
}

#sale-marketplace .sale-marketplace__item .icon {
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white)
}

#sale-marketplace .icon img {
    width: 1.5rem;
    height: fit-content
}

#sale-marketplace .sale-marketplace__item-left h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white)
}

#sale-marketplace .sale-marketplace__item-left p {
    font-size: .875rem;
    font-weight: 500;
    color: var(--white)
}

#sale-marketplace-illustration .sale-marketplace-illustration__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1.25rem
}

#sale-marketplace-illustration .sale-marketplace-illustration__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start
}

#sale-marketplace-illustration .sale-marketplace-illustration__item h4 {
    margin: 1.5rem 0 1rem;
    font-size: 1.25rem;
    font-weight: 600
}

#sale-marketplace-illustration .sale-marketplace-illustration__item p {
    margin-bottom: 2rem
}

#sale-marketplace-illustration .sale-marketplace-illustration__item-illustration {
    width: 100%;
    border-radius: 10px;
    height: 240px;
    object-fit: cover
}

#who-rightbiz {
    display: flex;
    justify-content: flex-end
}

#who-rightbiz h2.title {
    text-align: left
}

#who-rightbiz .sub-title {
    text-align: left
}

#who-rightbiz .who-rightbiz__control {
    display: flex;
    margin-top: 1.5rem;
    display: flex;
    grid-gap: 1rem;
    align-items: center
}

#who-rightbiz .who-rightbiz__control span {
    font-size: 1.25rem;
    cursor: pointer
}

#who-rightbiz .who-rightbiz__control span:hover {
    color: var(--blue)
}

#who-rightbiz .who-rightbiz__content-item {
    display: none
}

#who-rightbiz .who-rightbiz__content-item.active {
    display: block
}

.custom-select {
    width: 100%;
    padding: .75rem 1.25rem .75rem 2.5rem;
    position: relative;
    background: var(--white);
    border: 1px solid var(--deepgray);
    border-radius: 2rem;
    font-size: .875rem;
    transition: border-radius .1s
}

.custom-select .selected {
    white-space: nowrap;
    width: 100%;
    overflow: hidden
}

.custom-select .select-option {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--white);
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    display: none;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
    border-radius: 0 0 10px 10px
}

.custom-select.active .select-option {
    display: block
}

.custom-select.active {
    border-radius: 1.25rem 1.25rem 0 0
}

.custom-select .select-option li {
    padding: .5rem .75rem;
    cursor: pointer
}

.custom-select .select-option li:hover {
    background: var(--white-d-1)
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 991px
    }

    .viewed-business-wrapper,
    .recommended-business-wrapper,
    #featured-business .featured-business__list {
        grid-auto-columns: calc((100% - (1.25rem * 2))/3)
    }
}

@media screen and (max-width:991px) {
    .container {
        max-width: 768px
    }
}

@media screen and (max-width:768px) {
    .container {
        max-width: 576px
    }

    header .form-wrapper form {
        gap: .5rem
    }

    header .header__text {
        text-align: center
    }

    #featured-business .featured-business__item {
        min-width: calc((90% - 1.25rem)/2)
    }

    .viewed-business-wrapper,
    .recommended-business-wrapper,
    #featured-business .featured-business__list {
        grid-auto-columns: calc((90% - 1.25rem)/2)
    }
}

@media screen and (max-width:576px) {
    header h1 {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: left
    }

    header h5 {
        font-size: 2.5rem;
        text-align: left;
        padding-bottom: 0;
        line-height: 1.2
    }

    header h5::before {
        display: none
    }

    header .header__text,
    header .form {
        flex: unset
    }

    header .form-group.mobile-active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--white);
        z-index: 600;
        padding: 1rem 3rem
    }

    header .form-group.mobile-active input {
        border-radius: 0;
        border: none;
        padding: 1rem 0;
        background: 0 0
    }

    header .form-group.mobile-active .icon {
        display: none
    }

    header .form-group.mobile-active .form__autocomplete {
        top: 4rem;
        left: 1rem;
        right: 1rem;
        width: unset;
        opacity: 1;
        visibility: visible;
        border-top: 1px solid var(--grey);
        max-height: calc(100vh - 4rem);
        overflow-y: auto
    }

    header .form-group .form__autocomplete {
        transition: none;
        border-radius: 0;
        border: none
    }

    header .form-group.mobile-active label {
        display: none
    }

    header .form-group.mobile-active .close-btn,
    header .form-group.mobile-active .back-btn {
        display: block;
        position: absolute;
        top: 2rem;
        font-size: 1.125rem
    }

    header .form-group.mobile-active .back-btn {
        fill: var(--blue);
        left: 1rem
    }

    header .form-group.mobile-active .close-btn {
        right: 1rem
    }

    #search-recommend .expand {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: -2rem;
        background: linear-gradient(to top, var(--white-d-1) 40%, transparent);
        -webkit-background: linear-gradient(to top, var(--white-d-1) 40%, transparent);
        -moz-background: linear-gradient(to top, var(--white-d-1) 40%, transparent);
        -ms-background: linear-gradient(to top, var(--white-d-1) 40%, transparent);
        -o-background: linear-gradient(to top, var(--white-d-1) 40%, transparent);
        position: relative;
        padding-top: 3rem
    }

    #search-recommend .expand span {
        display: flex;
        align-items: center;
        grid-gap: .5rem;
        cursor: pointer;
        font-size: .875rem;
        font-weight: 500;
        color: var(--blue);
        padding: .5rem 1rem;
        border-radius: 2rem;
        border: 1px solid var(--grey);
        background: var(--white)
    }

    #search-recommend .expand svg {
        fill: var(--blue)
    }

    #featured-brokers .featured-brokers__wrapper {
        position: relative
    }

    #featured-brokers .featured-brokers__item {
        display: none
    }

    #featured-brokers .featured-brokers__item.active {
        display: flex
    }

    #featured-brokers .featured-brokers__indicator {
        display: flex
    }

    #franchise .franchise__slider-wrapper {
        padding: 1.5rem
    }

    #franchise .franchise__slider-item-img {
        width: 100%
    }

    #franchise .franchise__title {
        justify-content: space-between
    }

    #franchise .franchise__slider-wrapper .arrow {
        display: none
    }

    #franchise .franchise__title .control {
        display: flex
    }

    #popular-sector .popular-sector__indicator span {
        padding: .5rem
    }

    #popular-sector .popular-sector__image {
        aspect-ratio: 1/1
    }

    #popular-sector .popular-sector__image-list:first-child .popular-sector__image:nth-child(1),
    #popular-sector .popular-sector__image-list:first-child .popular-sector__image:nth-child(4) {
        grid-area: unset;
        aspect-ratio: 1/1
    }

    #popular-sector .popular-sector__image-list {
        grid-template-columns: 1fr
    }

    #popular-sector .popular-sector__image-list:first-child {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem
    }

    #sale-marketplace-illustration .sale-marketplace-illustration__list {
        grid-template-columns: 1fr
    }

    h2.title {
        font-size: 1.5rem
    }

    .viewed-business-wrapper,
    .recommended-business-wrapper,
    #featured-business .featured-business__list {
        grid-auto-columns: 232px
    }

    .viewed-business-arrow,
    .recommended-business-arrow {
        display: none;
    }
}
